name: PR Preview Deployment

on:
  pull_request:
    types: [closed]

concurrency:
  group: preview-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  cleanup-preview:
    name: Cleanup preview
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    env:
      SERVERLESS_ACCESS_KEY: ${{ secrets.SERVERLESS_ACCESS_KEY }}
      ACM_CERTIFICATE_ARN: ${{ secrets.ACM_CERTIFICATE_ARN }}
      AWS_REGION: eu-central-1
      NODE_ENV: preview
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Use Node 20
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: "yarn"
      - uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: eu-central-1
      - name: Install dependencies
        run: yarn install
      - name: Remove preview environment
        run: |
          yarn serverless remove --stage preview-${{ github.event.pull_request.number }}
